NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
NOTION_API_KEY=
NOTION_QUOTES_DATA_SOURCE_ID=b56e5c0f-4dd3-429a-919e-aa00354fcc0c
NOTION_KNOWLEDGE_DATA_SOURCE_ID=15f9b262-4125-436d-bb78-33d8cbe779a1
NOTION_VERSION=2025-09-03
APP_URL=http://localhost:3000
MVP_ADMIN_EMAIL=
NEXT_PUBLIC_MVP_ADMIN_EMAIL=werroofing@gmail.com
